* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Libre Baskerville', serif;
}

.header,
.main, 
.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.header {
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
}

.header_container {
    margin: 0px 40px;
}

h1 {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
}

.navigation {
    font-family: 'Heebo','Helvetica','Arial', sans-serif;  
}

.navigation ul {
    overflow: hidden;
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.contacts_container ul, 
.skills_container ul {
    list-style-type: none;
    overflow: hidden;
}

.navigation li a {
    padding-bottom: 7px;
    padding-right: 12px;
    display: block;
    color: rgb(61, 61, 61);
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation li a:hover {
    color: darkgray;
    /* filter: drop-shadow(0px 0px 2px rgb(255, 246, 196)); */
}

.main {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.main_container {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.main_container>section {
    margin: 10px 0px;
}

.arrow {
    left: -50px;
    padding-top: 10px;
    padding-left: 30px;
    width: 350px;
    height: 40px;
    text-align: left;
    background: linear-gradient(-45deg,transparent 50%, black 50%),
                linear-gradient(45deg,black 50%, transparent 50%);
}
.arrow h2 {
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    border: none;
}

.my_info_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.contacts_container {
    margin-top: 80px;
    margin-left: 30px;
}

.img_container {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contacts_list {
    display: flex;
}

.contacts_list a {
    margin-left: 40px;
}

.skills_container>.text {
    display: flex;
}

.diagram ul li {
    margin-bottom: 4.5px;
    margin-left: 20px;
    width: 300px;
    height: 20px;
    color: #fff;
    border: 1px dotted lightgray;
}

.diagram ul li:nth-child(1) {
    background: linear-gradient(to right, lightgray 50%, transparent 50%);
}

.diagram ul li:nth-child(2) {
    background: linear-gradient(to right, lightgray 40%, transparent 40%);
}

.diagram ul li:nth-child(3) {
    background: linear-gradient(to right, lightgray 15%, transparent 15%);
}

.diagram ul li:nth-child(4) {
    background: linear-gradient(to right, lightgray 5%, transparent 5%);
}

.diagram ul li:nth-child(5) {
    background: linear-gradient(to right, lightgray 50%, transparent 50%);
}

section div {
    font-family: 'Heebo','Helvetica','Arial', sans-serif;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: rgb(15, 15, 15);
    border-bottom: 1px dashed lightgray;
}

footer p {
    margin: 10px 40px;
    font-family: 'Heebo','Helvetica','Arial', sans-serif;
    color: lightgray;
    text-align: right;
}

.text {
    margin-left: 200px;
    overflow: hidden;
}

.code {
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    width: 400px;
    border: 1px dashed lightgray;
    border-radius: 10px;
}

a {
    text-decoration: none;
}